* {
    /* testing */
    border: 1px red solid;
}

#snowglobe-creation {
    display: flex;
    flex-direction: row;
}

#color-palette {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2, 1fr);

    button {
        padding: 1em;
    }
}
